<p>{{ title }}</p>
<h3>1. *ngIf</h3>

<button *ngIf="!isLoggedIn" class="btn btn-success" (click)="login()">
  Login
</button>

<div *ngIf="isLoggedIn">
  <p>{{ username }}</p>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<div class="form-group">
  <label>Nhập Tuổi</label>
  <input type="text" class="form-control" [(ngModel)]="age" />
</div>
<p *ngIf="age >= 18; else isNotOldEnoughBlock">Đã đủ tuổi</p>

<!-- ng-template: component ảo (tương tự Fragment trong react) -->

<ng-template #isNotOldEnoughBlock>
  <p *ngIf="age < 18">Chưa đủ tuổi</p>
</ng-template>
<br />
<br />
<h3>2. *ngFor</h3>
<!-- ng0container: component ảo cho phép -->
<ng-container *ngIf="rappers.length > 0" >
  <ul class="list-group">
    <li
      *ngFor="let rapper of rappers;
              index as idx;
              count as lenght;
              first as  isFirst;
              last as isLast;
              even as isEven;
              odd as isOdd;"
      class="list-group-item"
    >
      <span>{{ idx + 1 }}</span> {{ rapper }} - {{ lenght }} - {{ isFirst }} - {{isLast}} - {{isEven}} - {{isOdd}}
    </li>
  </ul>
</ng-container>
<br />
<br />
<h3>3. *ngSwithCase</h3>
<div class="form-group">
  <label>Chọn màu sắc</label>
  <select #color (change)="SeletectColor(color.value)" class="form-control" >
    <option value="black">Màu đen</option>
    <option value="blue">Màu xanh</option>
    <option value="pink">Màu hồng</option>
    <option value="red">Màu đỏ</option>
  </select>
</div>
<div [ngSwitch]="selectedColor">

  <div *ngSwitchCase="'blue'" style="color:blue;">Màu xanh</div>
  <div *ngSwitchCase="'pink'" style="color:pink;">Màu hồng</div>
  <div *ngSwitchCase="'red'" style="color:red;">Màu đỏ</div>
  <div *ngSwitchDefault="'black'" style="color:black;">Màu đen</div>
</div>
